*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif;
}

.bannar{
    background-image: url(images/donation13.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 700px;
}

#bannar_text{
    padding-top: 200px;
    text-align: center;
    color:white;
    
}

.button{
    padding: 18px 30px;
    color: white;
    background-color: tomato;
    border-radius: 8px;
    text-decoration: none;
}

.center{
    text-align: center;
}

.bannar h1{
    font-size: 70px;
}

.bannar p{
    padding-top: 35px;
}

.donate_today{
    height: 650px;
    padding-top: 100px;
    text-align: center;
}

.dnt_btn{
    text-decoration: none;
    color: gray;
    border-radius: 5px;
    
    padding: 45px 35px;
    background-color: rgb(251, 236, 236);
    margin: 0px 10px;
    
}

.dnt_amount{
    padding-top: 100px;
}

.dnt_amount a{
    font-weight: 600;
}

 a:hover{
    background-color: rgb(240, 184, 174);
    border: 1px solid tomato;
    color: tomato;
}

input{
    width: 60%;
    padding: 12px 20px;
    margin: 8px 0;
     box-sizing: border-box;
}

.other_amount{
    padding-top: 100px;
}

.card{
    height: 350px;
    width: 300px;
    margin-left: 120px;
    margin-left: 10px;
    border-radius: 8px;
    padding-top: 55px;
    padding-left: 20px;
}

.dnt_card1{
    background-color: rgb(204, 239, 252);
    width: 30%;

}
.dnt_card2{
    background-color: rgb(227, 245, 181);
    width: 30%;
}
.dnt_card3{
    background-color: rgb(170, 194, 91);
    width: 30%;
}

.flex_box{
    display: flex;
    
    margin: 40px 0px;
    margin-left: 100px;
    padding: auto;
}

.contact_us{
    display: flex;
}

.contact_details{
    height: 450px;
    padding-top: 85px;
    padding-left: 10px;
}
.contact_details h1{

    font-size: 55px;

}

.location{
    height: 450px;
    background-color: rgb(118, 45, 45);
}


.subscribe{
    
    height: 200px;
    width: 800px;
    background-color: rgb(255, 255, 176);
    margin-bottom: 50px;
    margin-left: 310px;
}

.subscribe_btn{
    height: 44px;
    background-color: tomato;

}

.subscribe p{
    text-align: center;
    padding-top: 70px;
}

.location{
    height: 300px;
}

.location img{
    height: 400px;
}

footer{
    height: 150px;
    background-color: black;
    color: white;
    text-align: center;
    padding-top: 35px;
}